$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

$mainColorOne: #0082fa;
$mainColorTwo: #FF7337;
$mainColorThree: #1DDEAD;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  &.one {
    background-color: #111A23;
  }
}
@font-face {
  font-family: "Bicubik";
  src: url('../fonts/8705.ttf');
}
@font-face {
  font-family: "Furore"; /* Имя шрифта */
  src: url('../fonts/furore.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Formular"; /* Имя шрифта */
  src: url('../fonts/Formular.ttf'); /* Путь к файлу со шрифтом */
}


/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;

  .content {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
  .footer {
    flex: 0 0 auto;
  }
}



iframe{
  display: block;
}
h1 {
  font-family: "Arsenal";
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 60px;
  color: #FFFFFF;
  @media (max-width: 991px) {
    font-size: 3rem!important;
  }
}
h2 {
  font-family: "Arsenal";
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 45px;
  text-align: center;
  color: #303030;
  span {
    color: #F54E60;
  }
  &.h2_Furore {
    font-family: "Furore";
    color: #003C74;
  }
  @media (max-width: 991px) {

  }
}
p {
    font-family: "Formular";
    font-size: 1.6rem;
    line-height: 150%;
    color: #000000;
    padding-bottom: 14px;
    @media (max-width: 991px) {

    }
}
.header__line {
  position: relative;
  padding-bottom: 8px;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    width: 275px;
    height: 4px;
    background-color: $mainColorTwo;
    left: 0px;
  }
}


