.form {
	padding: 26px 0px;
	input {
		max-width: 370px;
		background: #FFFFFF;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
		border: none;
		display: block;
		border-radius: 100px;
		padding: 10px 25px;
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 1.6rem;
		line-height: 19px;
		color: #303030;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #303030;
		}
		&::-moz-placeholder {
			color: #303030;
		}
	}




	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}

	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../images/checked.svg") no-repeat;
	}
	.checkbox__label_one.checkbox__label {
		border: 2px solid $mainColorOne;
	}
	.checkbox__label_two.checkbox__label {
		border: 2px solid $mainColorTwo;
	}
	.checkbox__label_three.checkbox__label {
		border: 2px solid $mainColorThree;
	}
	.checkbox:checked + .checkbox__label_one.checkbox__label:before { 
		background: url("../images/checked1.svg") no-repeat;
		
	}
	.checkbox:checked + .checkbox__label_two.checkbox__label:before { 
		background: url("../images/checked2.svg") no-repeat;
		
	}
	.checkbox:checked + .checkbox__label_three.checkbox__label:before { 
		background: url("../images/checked3.svg") no-repeat;
		
	}
	.form__info {
		font-size: 16px;
		line-height: 19px;

		color: #303030;
		text-align: left;
	}
	p.form__info {
		padding-top: 2px;
	}

}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.close {
	font-size: 4rem;
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
