.btn {
	border: 0;
	padding: 20px 40px;
	box-sizing: border-box;
	font-family: "Bicubik";
	font-size: 1.4rem;
	line-height: 150%;
	color: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	background-size: 200% 200%;
	max-width: 260px;
	&:hover {
		color: #000;
	}

	&.btn_flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&:focus {
		outline: none;
	}
	&.btn_one_full {
		background-color: $mainColorOne;
		z-index: 1;
		clip-path: polygon(0 100%,0 18%,6% 0,100% 0,100% 82%,94% 100%, 94% 100%);
	}
	&.btn_two_full {
		background-color: $mainColorTwo;
		color: #fff;
		z-index: 1;
		clip-path: polygon(0 100%,0 18%,6% 0,100% 0,100% 82%,94% 100%, 94% 100%);
	}
	&.btn_three_full {
		background-color: $mainColorThree;
		color: #fff;
		clip-path: polygon(0 100%,0 18%,6% 0,100% 0,100% 82%,94% 100%, 94% 100%);
	}
	@media  (max-width: 991px) {
		padding: 10px 25px;
	}
}

a {
	&.btn {
		color: #FFFFFF;
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
	&.btn-to-top {
		.btn-to-top__content {
			background-color: $mainColorTwo;
		}
	}
}




