.footer {
	padding: 60px 0;
	background-color: #111A22;
	.footer__header {
		font-family: "Bicubik";
			font-size: 3.6rem;
			line-height: 46px;
			padding-bottom: 40px;

		color: #FFFFFF;
		display: block;
				z-index: 1;
				@media (max-width: 991px) {
					font-size: 2rem;
				}
	}
	.footer__description {
		font-family: "Roboto";
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		line-height: 23px;
		display: block;
		color: #FFFFFF;
				z-index: 1;
	}
 	.footer__link, .footer__adres {
 		display: block;
		font-family: "Roboto";
		font-style: normal;
		padding-bottom: 16px;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
		/* identical to box height */

		z-index: 1;

		color: #FFFFFF;
		display: block;
 	}
 	.line {
 		padding: 0px;
 	}
 	&.footer__one {
 		background-color: unset;
 	}
}

.line {
	border-bottom: 1px solid $mainColorOne;
	box-shadow: 0px 0px 4px #0082FA;
}
.footer__wrap {
	z-index: 1;
}

.two {
	.footer {
		background-color: #E8E8E8;
		.footer__description_w {
			border: unset;
			box-shadow: none;
			padding: 0px;
		}
		.footer__description_w_bg {

		}
		.footer__header {
			color: $mainColorTwo;
			font-family: "Bicubik";
			font-size: 3.6rem;
			line-height: 46px;
			padding-bottom: 40px;
		}
	}
}