doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

		script( src="js/startFunction.min.js")
		title Project
	body(class="one")
		div(id="preloader-cube")
			div(class="caption")
				div(class="cube-loader")
					div(class="cube loader-1")
					div(class="cube loader-2")
					div(class="cube loader-4")
					div(class="cube loader-3")
		div(class="page")
			header(class="header")
				div(class="container-fluid")
					div(class="row")
						div(class="col-12")
							nav(class="navigation d-flex justify-content-between align-items-center")
								a(href="#" class="logo d-flex align-items-center")
									img(class="lazyload mr-5" data-src="images/logoOne.png" alt="img")
									span(class="d-none d-lg-block")
										| Торговый Дом<br>"ВелесТрейд"
								div(class="align-items-center d-lg-flex")
									ul(class="d-none d-lg-flex align-items-start m-0 pr-4")
										li
											a(href="#" class="active")
												| ГЛАВНАЯ
										li
											a(href="#")
												| О КОМПАНИИ
										li
											a(href="#")
												| ОБОРУДОВАНИЕ
										li
											a(href="#")
												| НАШИ КЛИЕНТЫ
										li
											a(href="#")
												| КОНТАКТЫ
									a(href="tel:" class="phone d-none d-lg-block")
										| 8 900 123 45 67
									button(class="btn__menu d-block d-lg-none")
										svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
											path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
											path(class="line middle" d="m 30,50 h 40")
											path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
			div(class="navigation__content d-flex align-items-center justify-content-center")
				div(class="navigation__wrap")
					ul(class="p-0")
						li
							a(href="#" class="active")
								| ГЛАВНАЯ
						li
							a(href="#")
								| О КОМПАНИИ
						li
							a(href="#")
								| ГЛАВНАЯ
						li
							a(href="#")
								| ОБОРУДОВАНИЕ
						li
							a(href="#")
								| НАШИ КЛИЕНТЫ
						li
							a(href="#")
								| КОНТАКТЫ
					a(href="tel:" class="phone m-0")
										| 8 900 123 45 67
			div(class="content content_first")
				block content
	div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
		div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
			div(class="modal-content")
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						| &times;
				div(class="modal-header")
					span
						| Форма заявки
				div(class="modal-body")
					form(class="form")
						input(type="text" placeholder="Имя*")
						input(type="tel" class="my-4" placeholder="Телефон*")
						div(class="d-flex align-items-start justify-content-center py-3 pb-4")
							label(class="m-0")
								input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
								span(for="checkbox" class="checkbox__label_one checkbox__label")
							p( class="form__info")
								| Согласен с политикой обработки
								a(href="#" class="form__info")
									| персональных данных
						div(class="d-flex justify-content-center w-100")
							button(class="btn btn_one_full btn__flare" type="submit" )
								| Записаться
	div(class="btn-to-top")
		div(class="btn-to-top__content d-flex justify-content-center align-items-center")
			svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
				g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
					g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
						path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
	
	script(src="js/main.min.js")

