extends base.pug
block content
	div(class="content__wrapper")
		div(class="welcome")
			div(class="container h-100 d-flex flex-column justify-content-end")
				div(class="row pb-5")
					div(class="col-12 col-lg-6 offset-lg-6 d-flex flex-column justify-content-end pl-5 pl-lg-0")
						span
							| группа компаний
						h1
							| промышленное снабжение
				div(class="row")
					div(class="col-12 d-flex justify-content-center")
						div(class="flooger d-flex align-items-center flex-column")
							span(class="flooger__cotent")
								| крутите
							div(class="flooger__circle")
								span()
		div(class="sites")
			div(class="container-fluid")
				div(class="row")
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s1.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								| ООО “Торговый Дом “ВелесТрейд”
							span(class="sites__description")
								|Горнодобывающее<br>и дорожно-строительное оборудование
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s2.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								| ООО Запчасти урала
							span(class="sites__description")
								|общепромышленное<br>оборудование
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s3.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								|пик Уральский редуктор
							span(class="sites__description")
								|производство<br>редукторов
		div(class="about")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2(class="h2_Furore pb-5 text-center")
							| О группе компаний
				div(class="row")
					div(class="col-12 col-lg-6")
						p
							| Комплексное снабжение промышленных предприятий - это лучшее решение для обеспечения организаций всех отраслей промышленности качественным оборудованием и комплектующими.
						p
							| Если ВЫ цените своё время и Ваши требования к качеству товара высоки, то наше предложение для Вас.
						p
							| Группа компаний "Промышленное снабжение" обеспечивает работу предприятий за счет оперативной поставки качественных запчастей.
						p
							| Многолетний опыт работы в сфере снабжения предприятий позволяет нам выполнять работу на высоком уровне. Оборудование и комплектующие наших компаний применяются в таких областях промышленности, как горнодобывающая и дорожно-строительная отрасль, сельское хозяйство, машиностроение и др.
					div(class="col-12 col-lg-6")
						img(class="lazyload img-fluid" data-src="images/bfgb.jpg" alt="img")
		div(class="block__line")
			img(class="lazyload img-fluid" data-src="images/1.png" alt="img")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-10 offset-lg-1")
						span()
							| Мы ценим своих клиентов, поэтому предлагаем индивидуальный подход к каждому и готовы сотрудничать в любой удобной для Вас форме.
			img(class="lazyload img-fluid" data-src="images/2.png" alt="img")
		div(class="defense")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| мы гарантируем
				div(class="row justify-content-center")
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d1.svg")
						span()
							| Оперативность обработки заявок
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d2.svg")
						span()
							| Качество товара
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d3.svg")
						span()
							| Надежность поставки
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d4.svg")
						span()
							| Реальные сроки
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d5.svg")
						span()
							| Индивидуальный подход к каждому клиенту
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d6.svg")
						span()
							| Строгий контроль выполнения обязательств
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d7.svg")
						span()
							| Неограниченная география поставок
		div(class="delivery")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| Доставка
				div(class="row")
					div(class="col-12 col-lg-6")
						p
							| Поставки запчастей и сопроводительных документов осуществляются в краткие сроки в любую точку России наиболее удобной для Вас транспортной компанией
						div(class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/cffgdsfgdfg.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" class="mx-5" data-src="images/vcbbnvcbn.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/vbnfdgnfdn.svg" alt="img")
						div(class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/cxvbfgbfgn.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" class="mx-5" data-src="images/cxvbcxvb.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/xcvbxcvbcxvb.png" alt="img")
					div(class="col-lg-6 d-none d-lg-block")
						img(class="lazyload img-fluid" data-src="images/map.png" alt="img")
		div(class="partners")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| наши партнёры
				div(class="row")
					div(class="col-12")
						div(class="slick__partners")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/xcvxzcvxzcv.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/fbsfgsdg.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/cxvbfdgbfgb.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/zxvzdbsdgb.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload" data-src="images/xcvxzcvxzcv.jpg" alt="img")




