extends baseFirstSite.pug
block content
	div(class="content__wrapper content_first")
		div(class="container-fluid content_first_p")
			div(class="row")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1()
						| буровое оборудование
			div(class="row")
				div(class="col-12 col-lg-5 pl-lg-0")
					img(class="lazyload" data-src="images/Line.png" alt="img")
		div(class="container-fluid excavator")
			div(class="row")
				div(class="col-10 offset-lg-1")
					span(class="excavator__h_top")
						| Буровой инструмент
					ul(class="nav nav_blue nav-tabs" id="myTab" role="tablist")
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true")
								| Бульдозеры ЧТЗ
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false")
								| Автогрейдеры ДЗ 98
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false")
								| Погрузчики
			div(class="row pb-4")
				div(class="col-12 col-lg-4 offset-lg-1 pb-4")
					p(class="pb-4")
						| Обращаем ваше внимание на то, что не все виды запчастей у тракторов Т-130, Т-170, Б10 взаимозаменяемы.
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="tab-content" id="myTabContent")
						div(class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab")
							div(class="row")
								div(class="col-lg-5")
									div(class="slider-for")
										div()
											div()
												a(data-fancybox="gallery" href="images/i11.png")
													img(class="lazyload w-100" data-src="images/i11.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/hgdsgfhrty.png")
													img(class="lazyload w-100" data-src="images/hgdsgfhrty.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/87y5ert.png")
													img(class="lazyload w-100" data-src="images/87y5ert.png" alt="img")
									div(class="slider-nav py-3")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/i11.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/hgdsgfhrty.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/87y5ert.png" alt="img")
								div(class="col-lg-7 tab-pane_content")
									h2()
										| Дорожно-строительная техника
									p
										| На сегодняшний день насчитывается больше ста видов спецтехники. Классификация разных видов техники включает большое разнообразие узкоспециализированных спецмашин. Они предназначены для выполнения какой-либо одной задачи. Наиболее востребованными машинами в дорожно-строительной отрасли являются бульдозеры и автогрейдеры.
									p
										| Широкое применение бульдозеров объясняется простотой их конструкций, высокой производительностью, возможностью универсального использования в разнообразных грунтовых и климатических условиях и относительно низкой стоимостью производства работ. В настоящее время существует большой выбор гусеничных бульдозеров различных габаритных размеров и мощности, которые предназначены для разных видов земляных работ.
									p
										| Наша компания готова предложить весь спектр запасных частей к тракторам Т-130, Т-170, Б-10М, ДЭТ-250 и автогрейдерам ДЗ 98. Отгрузка большинства запасных частей - в день заказа. Так же мы рады предложить запчасти к фронтальным погрузчикам, автогрейдерам и другой спец. технике китайского производства: XCMG, Changlin, Liugong, Shantui, SDLG и др.
									button(class="btn btn_one_full mt-5" data-toggle="modal" data-target="#modalCall")
										| Оставить заявку
						div(class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab")
						div(class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab")
			div(class="excavator_wrap")
				div(class="row")
					div(class="col-lg-10 offset-lg-1")
						div(class="slick__excavator")
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Бортовой фрикцион
										span(class="excavator__type")
											| 24-16-101СП
									img(class="lazyload img-fluid" data-src="images/i12.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 30 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Бортовой редуктор
										span(class="excavator__type")
											| К-15А.01.300
									img(class="lazyload img-fluid" data-src="images/i13.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 185 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Каток однобортный
										span(class="excavator__type")
											| 24-21-169 СП
									img(class="lazyload img-fluid" data-src="images/i14.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 12 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Каток двубортный
										span(class="excavator__type")
											| 24-21-170 СП
									img(class="lazyload img-fluid" data-src="images/i15.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 12 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Насос топливный
										span(class="excavator__type")
											| ТНВД 51-67-24 СП
									img(class="lazyload img-fluid" data-src="images/i16.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 18 500
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Натяжное колесо
										span(class="excavator__type")
											| 50-21-305СП/ 306СП
									img(class="lazyload img-fluid" data-src="images/i17.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 34 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Полуось
										span(class="excavator__type")
											| 24-19-37
									img(class="lazyload img-fluid" data-src="images/i18.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 15 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Уплотнение большое
										span(class="excavator__type")
											| 24-19-119СП
									img(class="lazyload img-fluid" data-src="images/i19.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 6 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Уплотнение малое
										span(class="excavator__type")
											| 20-19-123СП
									img(class="lazyload img-fluid" data-src="images/i20.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 3 400
							
		footer(class="footer footer__one")
			div(class="container-fluid")
				div(class="row pb-5")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ")
						div(class="footer__description_w d-flex flex-column justify-content-around")
							div(class="footer__description_w_bg")
							div(class="footer__description_w_color")
							span(class="footer__description footer__header pb-3")
								| Контакты
							div(class="footer__wrap")
								a(href="tel:" class="footer__link pb-3")
									| 8 900 123 45 67
								a(href="mail:" class="footer__link pb-3")
									| info@mail.ru
								span(class="footer__adres pb-3")
									| Челябинск, ул. Ленина 35
							button(class="btn btn_one_full" data-toggle="modal" data-target="#modalCall")
								| Перезвоните мне
					div(class="col-12 col-lg-7")
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen="")
				div(class="row")
					div(class="line col-lg-6 offset-lg-1")

