extends baseFirstSite.pug
block content
	div(class="content__wrapper content_first")
		div(class="container-fluid content_first_p")
			div(class="row")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1()
						| запчасти на экскаватор
			div(class="row")
				div(class="col-12 col-lg-5 pl-lg-0")
					img(class="lazyload" data-src="images/Line.png" alt="img")
		div(class="container-fluid excavator")
			div(class="row")
				div(class="col-10 offset-lg-1")
					ul(class="nav nav_blue nav-tabs" id="myTab" role="tablist")
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true")
								| ЭКГ-5
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false")
								| ОЭ 2503
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false")
								| ЭО-5126
					div(class="tab-content" id="myTabContent")
						div(class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab")
							div(class="row")
								div(class="col-lg-5")
									img(class="lazyload img-fluid" data-src="images/17735469_w200_h200_hod-gusenichnyj-ekg-5a.png" alt="img")
								div(class="col-lg-7 tab-pane_content")
									h2()
										| Запчасти для ЭО-5126
									p
										| ЭО-5126 – это гусеничный одноковшовый гидравлический экскаватор универсального назначения, с поворотной платформой и жёсткой подвеской рабочего оборудования, что обеспечивает ему довольно высокую проходимость. Техника способна справится с такими видами работ, как рытье траншей и котлованов; создание насыпей грунта и других сыпучих материалов; очистка рабочих территорий от производственного мусора; погрузка и разгрузка различных материалов; выемка грунта; разработка карьеров; разрыхление промерзшего грунта и скальных пород; уплотнение рыхлых грунтов; разрушение различных бетонных или же железобетонных сооружений; рытье каналов и множество других подобных задач.
									p
										| Данная машина является одной из наиболее популярных моделей гусеничных экскаваторов на российском рынке, выпускаемых отечественными производителями. Более того, ЭО-5126 может составить вполне серьезную конкуренцию зарубежным аналогам. Стоит отметить, что данный гусеничный экскаватор разрабатывался на основе бюро Министерства обороны, чем как раз и обусловлено оптимальное сбалансирование в технических характеристиках, надежность и способность выдерживать весьма высокие нагрузки.
									p
										| Активная эксплуатация экскаватора ЭО-5126 и, порой, суровые условия работы, приводит к выходу из строя основных дателей машины. Своевременный ремонт продлит срок эксплуатации техники
									p
										| Мы предлагаем оперативную поставку качественных запасных частей!
						div(class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab")
						div(class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab")
			div(class="excavator_wrap")
				div(class="row")
					div(class="col-lg-10 offset-lg-1")
						div(class="slick__excavator")
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Зуб ковша прямой
										span(class="excavator__type")
											| 1080.02.11-1/1085.52.06-1
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 11 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Зуб ковша косой с защитой ковша
										span(class="excavator__type")
											| 1014.89.64
									img(class="lazyload img-fluid" data-src="images/i2.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 16 300
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Звено гусеничное
										span(class="excavator__type")
											| 1080.34.01
									img(class="lazyload img-fluid" data-src="images/i3.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 19 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Шестерня кремальерная
										span(class="excavator__type")
											| 1080.55.306
									img(class="lazyload img-fluid" data-src="images/i4.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 21 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| тулка натяжной оси
										span(class="excavator__type")
											| 1080.33.18-1
									img(class="lazyload img-fluid" data-src="images/i5.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 10 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Зуб ковша прямой
										span(class="excavator__type")
											| 1080.02.11-1/1085.52.06-1
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 11 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Зуб ковша косой с защитой ковша
										span(class="excavator__type")
											| 1014.89.64
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 16 300
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Звено гусеничное
										span(class="excavator__type")
											| 1080.34.01
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 19 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Шестерня кремальерная
										span(class="excavator__type")
											| 1080.55.306
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 21 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| тулка натяжной оси
										span(class="excavator__type")
											| 1080.33.18-1
									img(class="lazyload img-fluid" data-src="images/i1.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 10 000
		footer(class="footer footer__one")
			div(class="container-fluid")
				div(class="row pb-5")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ")
						div(class="footer__description_w d-flex flex-column justify-content-around")
							div(class="footer__description_w_bg")
							div(class="footer__description_w_color")
							span(class="footer__description footer__header pb-3")
								| Контакты
							div(class="footer__wrap")
								a(href="tel:" class="footer__link pb-3")
									| 8 900 123 45 67
								a(href="mail:" class="footer__link pb-3")
									| info@mail.ru
								span(class="footer__adres pb-3")
									| Челябинск, ул. Ленина 35
							button(class="btn btn_one_full " data-toggle="modal" data-target="#modalCall")
								| Перезвоните мне
					div(class="col-12 col-lg-7")
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen="")
				div(class="row")
					div(class="line col-lg-6 offset-lg-1")

