extends baseFirstSite.pug
block content
	div(class="content__wrapper content_first")
		div(class="welcome welcome_first")
			div(class="welcome_first_wra container-fluid h-100 d-flex flex-column justify-content-end")
				div(class="row")
					div(class="col-lg-8 offset-lg-2")
						div(class="slick__firstSite")
							-for (var i = 0; i < 5; i++)
								div(class="d-flex justify-content-center")
									img(class="img-fluid" src="images/sdsfgffgdff.png" alt="img")
				div(class="row")
					div(class="col-12 d-flex justify-content-center")
						div(class="flooger d-flex align-items-center flex-column")
							span(class="flooger__cotent")
								| крутите
							div(class="flooger__circle")
								span()
		div(class="line_r")
			div(class="container-fluid p-0")
				div(class="row justify-content-between")
					div(class="col-lg-3 p-0")
					div(class="col-lg-3 p-0")
		div(class="catalog")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						a(class="catalog__item " href="#")
							img(class="lazyload img-fluid" data-src="images/sfghsdfgsdgf.png" alt="img")
							span(class="catalog__header")
								| Экскаваторы

					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						a(class="catalog__item" href="#")
							img(class="lazyload img-fluid" data-src="images/gsdfgsdfgsdfg.png" alt="img")
							span(class="catalog__header")
								| Дробильно-сортировочное оборудование
					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						a(class="catalog__item" href="#")
							img(class="lazyload img-fluid" data-src="images/csdcsd.png" alt="img")
							span(class="catalog__header")
								| Буровое оборудование
					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						a(class="catalog__item" href="#")
							img(class="lazyload img-fluid" data-src="images/scsdcsdc.png" alt="img")
							span(class="catalog__header")
								| дорожно-строительная техника
				div(class="row align-items-center pt-5 pt-lg-0")
					div(class="col-12 col-lg-5 offset-lg-2 pt-5 pt-lg-0")
						span()
							| О компании
						p()
							span
								| Компания ООО "Торговый Дом "ВелесТрейд" -
							| специализированная компания с многолетним опытом работы, занимающаяся поставкой запасных частей для карьерной и дорожно- строительной техники.

					div(class="col-lg-5 d-none d-lg-block")
						img(class="lazyload" data-src="images/ex.png" alt="img")
		footer(class="footer footer__one")
			div(class="container-fluid")
				div(class="row pb-5")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ")
						div(class="footer__description_w d-flex flex-column justify-content-around")
							div(class="footer__description_w_bg")
							div(class="footer__description_w_color")
							span(class="footer__description footer__header pb-3")
								| Контакты
							div(class="footer__wrap")
								a(href="tel:" class="footer__link pb-3")
									| 8 900 123 45 67
								a(href="mail:" class="footer__link pb-3")
									| info@mail.ru
								span(class="footer__adres pb-3")
									| Челябинск, ул. Ленина 35
							button(class="btn btn_one_full" data-toggle="modal" data-target="#modalCall")
								| Перезвоните мне
					div(class="col-12 col-lg-7")
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen="")
				div(class="row")
					div(class="line col-lg-6 offset-lg-1")

