extends baseThirdSite.pug
block content
	div(class="content__wrapper content_third")
		div(class="container-fluid content_first_p")
			div(class="row pb-5")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1(class="header__line")
						| волновые
		div(class="container-fluid excavator")
			div(class="row p_b_60")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="row pb-5")
						div(class="col-lg-5 pb-5")
							div(class="slider-for")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
							div(class="slider-nav py-3")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
						div(class="col-lg-7 pb-5 tab-pane_content")
							h2()
								| Червячный редуктор
							p
								| Мы работаем только с проверенными производителями и поставляем Вам надежную подшипниковую продукцию с заводской гарантией.
							p
								| Предлагаем подшипники ведущих российских производителей (ГПЗ, КПК, SPZ-GROUP) , а также известных импортных брендов (SKF, NSK, FBC- GROUP, MPZ, CRAFT BEARINGS, FAG)
							button(class="btn btn_three_full mt-5" data-toggle="modal" data-target="#modalCall")
								| Оставить заявку

