extends baseThirdSite.pug
block content
	div(class="content__wrapper content_third")
		div(class="welcome welcome_second")
			div(class="welcome_first_wra container-fluid h-100 d-flex flex-column justify-content-end align-items-center")
				div(class="row")
					div(class="col-12 col-lg-5 offset-lg-1 d-flex flex-column justify-content-center")
						h1
							| Производственно инвестиционная компания «Уральский Редуктор» 
						p
							| рада предложить для нужд Вашего предприятия редукторы собственного производства!
					div(class="col-12 col-lg-4 offset-lg-1")
						img(class="lazyload" data-src="images/rde.png" alt="img")
				div(class="row")
					div(class="col-12 d-flex justify-content-center")
						div(class="flooger d-flex align-items-center flex-column")
							span(class="flooger__cotent")
								| крутите
							div(class="flooger__circle")
								span()
		div(class="items__two  p_b_60")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12")
						h2(class="p_t_60 p_b_60")
							| Редукторы
				div(class="row justify-content-center")
					div(class="col-12 col-lg-4 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload " data-src="images/sdgsdfgdsfg.png" alt="img")
							span(class="items__two_header")
								| червячные
							span(class="items__two__line")
					div(class="col-12 col-lg-4 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload " data-src="images/sdfgdsfgsdfg.png" alt="img")
							span(class="items__two_header")
								| цилиндрические
							span(class="items__two__line")
					div(class="col-12 col-lg-4 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload" data-src="images/qwdqe.png" alt="img")
							span(class="items__two_header")
								| коническо-цилиндрические
							span(class="items__two__line")
			div(class="container-fluid ")
				div(class="row")
					div(class="col-12")
						h2(class="p_t_60 p_b_60")
							| Мотор-редукторы
				div(class="row justify-content-center")
					div(class="col-12 col-lg-3 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload " data-src="images/fndgnfghn.png" alt="img")
							span(class="items__two_header")
								| Цилиндрические
							span(class="items__two__line")
					div(class="col-12 col-lg-3 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload " data-src="images/cvxcvb.png" alt="img")
							span(class="items__two_header")
								| планетарные
							span(class="items__two__line")
					div(class="col-12 col-lg-3 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload" data-src="images/csadcasd.png" alt="img")
							span(class="items__two_header")
								| волковые
							span(class="items__two__line")
					div(class="col-12 col-lg-3 pb-5")
						a(class="items__two_i" href="#")
							img(class="lazyload" data-src="images/cvcvxcvb.png" alt="img")
							span(class="items__two_header")
								| червячные
							span(class="items__two__line")
		div(class="about p_t_60 p_b_60")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12 col-lg-4 offset-lg-2 d-flex flex-column justify-content-center")
						h2(class="text-left pb-5")
							| Ремонт редукторов
						p
							| Редукторы и мотор-редукторы, применяемые в составе комбинированных установок промышленного назначения и производственных линий различных видов, подвергаются значительным нагрузкам. Как и все механизмы, работающие в интенсивном режиме эксплуатации и сложных условиях, редукторы нуждаются в проведении регулярного технического обслуживания, выполнении планово-профилактических, текущих и разовых ремонтных работ.
						p(class="color_three")
							| Предлагаем к поставке  для самостоятельного ремонта качественные комплектующие
						ul(class="custom")
							li
								| зубчатые передачи всех видов
							li
								| валы
							li
								| зубчатые муфты
					div(class="col-12 col-lg-4")
						img(class="lazyload img-fluid" data-src="images/dsfgdsfgsdfg.png" alt="img")
		div(class="massa")
			div(class="container-fluid d-flex justify-content-center")
				div(class="massa__wrap_c")
					div(class="container-fluid")
						div(class="row")
							div(class="col-12 p_b_60")
								h2()
									| Масса редукторов (кг)
						div(class="row")
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип 1Ц2У<br>Одноступенчатые
										tbody
											tr()
												td()
													| 1ЦУ - 100
												td()
													| 27
											tr()
												td()
													| 1ЦУ - 160
												td()
													| 78
											tr()
												td()
													| 1ЦУ - 200
												td()
													| 135
											tr()
												td()
													| 1ЦУ - 250
												td()
													| 250
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип РМ
										tbody
											tr()
												td()
													| РМ - 250
												td()
													| 85
											tr()
												td()
													| РМ - 350
												td()
													| 145
											tr()
												td()
													| РМ - 400
												td()
													| 210
											tr()
												td()
													| РМ - 500
												td()
													| 390
											tr()
												td()
													| РМ - 500
												td()
													| 390
											tr()
												td()
													| РМ - 650
												td()
													| 878
											tr()
												td()
													| РМ - 750
												td()
													| 1030
											tr()
												td()
													| РМ - 850
												td()
													| 1230
											tr()
												td()
													| РМ - 1000
												td()
													| 2122
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Червячные
										tbody
											tr()
												td()
													| 2Ч - 40
												td()
													| 8
											tr()
												td()
													| 1Ч - 63А
												td()
													| 16
											tr()
												td()
													| 2Ч - 63
												td()
													| 13
											tr()
												td()
													| 2Ч - 80
												td()
													| 18
											tr()
												td()
													| Ч - 80
												td()
													| 26
											tr()
												td()
													| Ч - 100
												td()
													| 57, (44 ал.)
											tr()
												td()
													| Ч - 125
												td()
													| 88
											tr()
												td()
													| Ч - 160
												td()
													| 157
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Двухступенчатые
										tbody
											tr()
												td()
													| 1Ц2У - 100
												td()
													| 37, (21 ал.)
											tr()
												td()
													| 1Ц2У - 125
												td()
													| 55, (31,5 ал.)
											tr()
												td()
													| 1Ц2У - 160
												td()
													| 95, (57 ал.)
											tr()
												td()
													| 1Ц2У - 200
												td()
													| 170
											tr()
												td()
													| 1Ц2У - 250
												td()
													| 320
											tr()
												td()
													| 1Ц2У - 315Н
												td()
													| 520
											tr()
												td()
													| 1Ц2У - 355Н
												td()
													| 700
											tr()
												td()
													| 1Ц2У - 400Н
												td()
													| 930
											tr()
												td()
													| 1Ц2Н - 450
												td()
													| 1530
											tr()
												td()
													| 1Ц2Н - 500
												td()
													| 2090



							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип РЦД
										tbody
											tr()
												td()
													| РЦД - 250
												td()
													| 86
											tr()
												td()
													| РЦД - 350
												td()
													| 175
											tr()
												td()
													| РЦД - 400
												td()
													| 287
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Мотор-редукторы<br>Червячные
										tbody
											tr()
												td()
													| МРЧ - 40
												td()
													| ≈12
											tr()
												td()
													| МРЧ - 63
												td()
													| ≈25
											tr()
												td()
													| МРЧ - 80
												td()
													| ≈43
											tr()
												td()
													| МРЧ - 100
												td()
													| ≈84
											tr()
												td()
													| МРЧ - 125
												td()
													| ≈115
											tr()
												td()
													| МРЧ - 160
												td()
													| ≈163
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип Ц2
										tbody
											tr()
												td()
													| Ц2 - 250
												td()
													| 86
											tr()
												td()
													| Ц2 - 300
												td()
													| 138
											tr()
												td()
													| Ц2 - 350
												td()
													| 210
											tr()
												td()
													| Ц2 - 400
												td()
													| 315
											tr()
												td()
													| Ц2 - 500
												td()
													| 500
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Трехступенчатые
										tbody
											tr()
												td()
													| 1Ц3У - 160
												td()
													| 110, (64 ал.)
											tr()
												td()
													| 1Ц3У - 200
												td()
													| 190
											tr()
												td()
													| 1Ц3У - 250
												td()
													| 335
											tr()
												td()
													| 1Ц3У - 315
												td()
													| 580
											tr()
												td()
													| 1Ц3У - 355
												td()
													| 760





							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Крановые
										tbody
											tr()
												td()
													| У-3515	
												td()
													| 390
											tr()
												td()
													| В-400
												td()
													| 106
											tr()
												td()
													| А-400
												td()
													| 95
											tr()
												td()
													| ВК-350
												td()
													| 120
											tr()
												td()
													| ВК-475
												td()
													| 215
											tr()
												td()
													| ВК-550
												td()
													| 279
											tr()
												td()
													| РК-450
												td()
													| 1030
											tr()
												td()
													| РК-500
												td()
													| 1230
											tr()
												td()
													| РК-600
												td()
													| 2122
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Планетарные
										tbody
											tr()
												td()
													| 3МП - 31,5
												td()
													| ≈26
											tr()
												td()
													| 3МП - 40
												td()
													| ≈40
											tr()
												td()
													| 3МП - 50
												td()
													| ≈71
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Гидротолкатели
										tbody
											tr()
												td()
													| ТЭ - 16
												td()
													| 11
											tr()
												td()
													| ТЭ - 25
												td()
													| 13
											tr()
												td()
													| ТЭ - 30
												td()
													| 13
											tr()
												td()
													| ТЭ - 50
												td()
													| 20
											tr()
												td()
													| ТЭ - 80
												td()
													| 20
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Цилиндрические
										tbody
											tr()
												td()
													| 4МЦ2С - 63
												td()
													| ≈27
											tr()
												td()
													| 4МЦ2С - 80
												td()
													| ≈37
											tr()
												td()
													| 4МЦ2С - 100
												td()
													| ≈81
											tr()
												td()
													| 4МЦ2С - 125
												td()
													| ≈127
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Тормоза крановые
										tbody
											tr()
												td()
													| ТКТ - 100
												td()
													| 12
											tr()
												td()
													| ТКТ; ТКГ - 160
												td()
													| 22
											tr()
												td()
													| ТКТ; ТКГ - 200
												td()
													| 30
											tr()
												td()
													| ТКТ; ТКГ - 300
												td()
													| 55
						div(class="row")
							div(class="col-12 p_b_60")
								h2()
									| Объём заливаемого масла (л)
						div(class="row ")
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип РМ
										tbody
											tr()
												td()
													| РМ - 250
												td()
													| 1,6
											tr()
												td()
													| РМ - 350
												td()
													| 3,3
											tr()
												td()
													| РМ - 400
												td()
													| 5,5
											tr()
												td()
													| РМ - 500
												td()
													| 11
											tr()
												td()
													| РМ - 650
												td()
													| 22
											tr()
												td()
													| РМ - 750, РК - 450
												td()
													| 42
											tr()
												td()
													| РМ - 850, РК - 500
												td()
													| 44
											tr()
												td()
													| РМ - 1000, РК - 650
												td()
													| 55
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Двухступенчатые
										tbody
											tr()
												td()
													| 1Ц2У - 100
												td()
													| 1,1
											tr()
												td()
													| 1Ц2У - 125
												td()
													| 1,45
											tr()
												td()
													| 1Ц2У - 160
												td()
													| 4,5 (2,9 ал.)
											tr()
												td()
													| 1Ц2У - 200
												td()
													| 7
											tr()
												td()
													| 1Ц2У - 250
												td()
													| 9
											tr()
												td()
													| 1Ц2У - 315Н
												td()
													| 50
											tr()
												td()
													| 1Ц2У - 315К
												td()
													| 30
											tr()
												td()
													| 1Ц2У - 355Н
												td()
													| 60
											tr()
												td()
													| 1Ц2У - 400Н
												td()
													| 110
											tr()
												td()
													| 1Ц2Н - 400К
												td()
													| 45
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип РЦД
										tbody
											tr()
												td()
													| РЦД - 250
												td()
													| 2,3
											tr()
												td()
													| РЦД - 350
												td()
													| 5,5
											tr()
												td()
													| РЦД - 400
												td()
													| 8,4
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Трехступенчатые
										tbody
											tr()
												td()
													| 1Ц3У - 160
												td()
													| 6,2, (3,7 ал.)
											tr()
												td()
													| 1Ц3У - 200
												td()
													| 12
											tr()
												td()
													| 1Ц3У - 250
												td()
													| 18,4
											tr()
												td()
													| 1Ц3У - 315
												td()
													| 60
											tr()
												td()
													| 1Ц3У - 355
												td()
													| 70
											tr()
												td()
													| 1Ц3У - 400
												td()
													| 80
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип Ц2
										tbody
											tr()
												td()
													| Ц2 - 250
												td()
													| 3
											tr()
												td()
													| Ц2 - 300
												td()
													| 5
											tr()
												td()
													| Ц2 - 350
												td()
													| 7
											tr()
												td()
													| Ц2 - 400
												td()
													| 12
											tr()
												td()
													| Ц2 - 500
												td()
													| 20
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Крановые
										tbody
											tr()
												td()
													| В-400
												td()
													| 0,7
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип ЦТНД
										tbody
											tr()
												td()
													| ЦТНД - 200
												td()
													| 4
											tr()
												td()
													| ЦТНД - 315
												td()
													| 25
											tr()
												td()
													| ЦТНД - 400
												td()
													| 40
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| тип 1Ц2У<br>Одноступенчатые
										tbody
											tr()
												td()
													| 1ЦУ - 100
												td()
													| 1
											tr()
												td()
													| 1ЦУ - 160
												td()
													| 4,2
											tr()
												td()
													| 1ЦУ - 200
												td()
													| 6,7
											tr()
												td()
													| 1ЦУ - 250
												td()
													| 13,8
							div(class="col-12 col-lg-3 massa__wrap")
								div(class="massa__item")
									table()
										thead
											tr(class="table__header")
												td(colspan="2")
													| Червячные
										tbody
											tr()
												td()
													| 2Ч - 40
												td()
													| 0,3
											tr()
												td()
													| 1Ч - 63А
												td()
													| 0,9
											tr()
												td()
													| 2Ч - 63
												td()
													| 0,7
											tr()
												td()
													| 2Ч - 80
												td()
													| 1
											tr()
												td()
													| Ч - 80
												td()
													| 1,2
											tr()
												td()
													| ЧГ - 80
												td()
													| 1,5
											tr()
												td()
													| ЧГ - 100
												td()
													| 2,5
											tr()
												td()
													| ЧГ - 125
												td()
													| 7,5