extends baseSecondSite.pug
block content
	div(class="content__wrapper content_second")
		div(class="welcome welcome_second")
			div(class="welcome_first_wra container-fluid d-flex flex-column justify-content-end")
				div(class="row")
					div(class="col-12 p-0")
						div(class="slick__firstSite p-0")
							-for (var i = 0; i < 5; i++)
								div(class=" d-flex justify-content-center")
									picture()
										source(srcset="images/tr_m.png" media="(max-width: 700px)")
										img(class="lazyload" data-src="images/tr.png" alt="img")
				div(class="row")
					div(class="col-12 d-flex justify-content-center")
						div(class="flooger d-flex align-items-center flex-column")
							span(class="flooger__cotent")
								| крутите
							div(class="flooger__circle")
								span()
		div(class="items__two")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12 col-lg-10  offset-lg-1")
						div(class="row justify-content-center")
							div(class="col-lg-3 pb-5")
								a(class="items__two_i" href="#")
									img(class="lazyload img-100" data-src="images/gfgf.png" alt="img")
									span(class="items__two_header")
										| подшипники
									span(class="items__two__line")
							div(class="col-lg-3 pb-5")
								a(class="items__two_i" href="#")
									img(class="lazyload img-100" data-src="images/dfsgdsfg.png" alt="img")
									span(class="items__two_header")
										| пневмооборудование
									span(class="items__two__line")
							div(class="col-lg-3 pb-5")
								a(class="items__two_i" href="#")
									img(class="lazyload img-100" data-src="images/xcbcvxb.png" alt="img")
									span(class="items__two_header")
										| гидравлика
									span(class="items__two__line")
							div(class="col-lg-3 pb-5")
								a(class="items__two_i" href="#")
									img(class="lazyload img-100" data-src="images/aswwr23.png" alt="img")
									span(class="items__two_header")
										| электрооборудование
									span(class="items__two__line")
							div(class="col-lg-3 pb-5")
								a(class="items__two_i" href="#")
									img(class="lazyload img-100" data-src="images/cxcb.png" alt="img")
									span(class="items__two_header")
										| Верхнее строение путей
									span(class="items__two__line")
		div(class="about")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12 col-lg-4 offset-lg-2")
						span()
							| О компании
						p
							| Компания ООО «Запчасти Урала» современная компания, зарекомендовавшая себя как надежного поставщика общепромышленного оборудования. В своей деятельности мы строго ориентированы на интересы потребителей, в связи с чем, ассортимент предлагаемой продукции постоянно расширяется. Клиентами нашей организации являются как производственные предприятия России и стран СНГ, так и коммерческие фирмы.
						p
							| Продукция компании «Запчасти Урала» отличается высокой производительностью и длительным ресурсом. Все конструктивные элементы изготавливаются из качественного сырья и проходят обязательную сертификацию, а также процедуры контроля качества.
					div(class="col-12 col-lg-4")
						img(class="lazyload img-fluid" data-src="images/bfgb.jpg" alt="img")