extends baseSecondSite.pug
block content
	div(class="content__wrapper content_second")
		div(class="container-fluid content_first_p")
			div(class="row pb-5")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1(class="header__line")
						| электрооборудование
		div(class="container-fluid excavator")
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					ul(class="nav nav_blue nav-tabs" id="myTab" role="tablist")
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true")
								| Электродвигатели
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false")
								| Кабельная продукция
			div(class="row pb-4")
				div(class="col-12 col-lg-6 offset-lg-1 pb-4")
					p(class="pb-4")
						| Наша компания зарекомендовала себя, как надежного поставщика электрооборудования. Регулярно пополняя ассортимент, имеем возможность поставлять продукцию в кратчайшие сроки по наиболее выгодной цене.
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="tab-content" id="myTabContent")
						div(class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab")
							div(class="row pb-5")
								div(class="col-lg-5 pb-5")
									div(class="slider-for")
										div()
											div()
												img(class="lazyload w-100" data-src="images/gsdfgsdfg.png" alt="img")
								div(class="col-lg-7 pb-5 tab-pane_content")
									ul
										li
											| Реле давления

										li
											| Электрощетки и щёткодержатели

										li
											| Вентили электропневматические ВВ-32Ш, ВВ-32

										li
											| Реле утечки

										li
											| Электромагниты МО-100

										li
											| Командо-контроллеры серии ЭК и ККТ
										li
											| Контакторы различных модификаций (КТ, КПВ, КПД)
										li
											| Блоки токовой отсечки: БТОН, БТОВ, БТОП

										li
											| Выключатели: концевые (ВК, ВУ, ВПК, ВП, ВКО); автоматические (ВА, А, АВ2М, АЕ, АП, АПД)

										li
											| Электродвигатели общепромышленные, экскаваторные серии ДПЭ, ДЭ, генераторы 2ГПЭМ, 2ПЭМ, 2МП

										li
											| Кабели экскаваторные КГ-ХЛ, КГЭ-ХЛ, а так же общепромышленные. И многое другое, что касается электрики

									button(class="btn btn_two_full mt-5" data-toggle="modal" data-target="#modalCall")
										| Оставить заявку
						div(class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab")
		div(class="line_r line_r_two")
			div(class="container-fluid p-0")
				div(class="row justify-content-between")
					div(class="col-lg-3 p-0")

