extends baseSecondSite.pug
block content
	div(class="content__wrapper content_second")
		div(class="container-fluid content_first_p")
			div(class="row pb-5")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1(class="header__line")
						| гидравлика
		div(class="container-fluid excavator")
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1 pb-5")
					ul(class="nav nav_blue nav-tabs" id="myTab" role="tablist")
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true")
								| Категория
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false")
								| Категория
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false")
								| Категория
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="tab-content" id="myTabContent")
						div(class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab")
							div(class="row pb-5")
								div(class="col-lg-5 pb-5")
									div(class="slider-for")
										div()
											div()
												a(data-fancybox="gallery" href="images/ioioi.png")
													img(class="lazyload w-100" data-src="images/ioioi.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/dfvdfv.png")
													img(class="lazyload w-100" data-src="images/dfvdfv.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/xsvvf.png")
													img(class="lazyload w-100" data-src="images/xsvvf.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/iolioliol.png")
													img(class="lazyload w-100" data-src="images/iolioliol.png" alt="img")
									div(class="slider-nav py-3")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/ioioi.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/dfvdfv.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/xsvvf.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/iolioliol.png" alt="img")
								div(class="col-lg-7 pb-5 tab-pane_content")
									h2()
										| Гидравлика
									p
										| Продукция нашей компании отличается высоким качеством, соответствующим строгим стандартам, надежностью и долговечностью эксплуатации.
									ul
										li
											| Агрегаты насосные: НШ (с двигателем); ВГ-11, БГ-11 (с двигателем и БГВ с взрывозащещенным двигателем); БГ-12 и многие другие.
										li
											| Гидронасосы: шестеренные (НШ, АГ, ДВГ, ДБГ); пластинчатые (регулируемые НПЛР, Г12-5М, а также нерегулируемые) и др.
										li
											| Гидромоторы: шестеренные ГМШ, планетарные МГП, аксеально-поршневые Г15-2…, Г51
										li
											| Гидроцилиндры для разнообразной спец. техники и оборудования (экскаваторы, погрузчики, краны, автогрейдеры и другая спец. техника)
										li
											| Гидродомкраты универсальные, грузовые, ступенчатые, сверхнизкие и др.
										li
											| Гидрораспределители моноблочные, секционные, модульные
									button(class="btn btn_two_full mt-5" data-toggle="modal" data-target="#modalCall")
										| Оставить заявку
						div(class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab")
						div(class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab")
					
		div(class="line_r line_r_two")
			div(class="container-fluid p-0")
				div(class="row justify-content-between")
					div(class="col-lg-3 p-0")

