extends baseSecondSite.pug
block content
	div(class="content__wrapper content_second")
		div(class="container-fluid content_first_p")
			div(class="row pb-5")
				div(class="col-12 col-lg-5 offset-lg-1 pb-5")
					h1(class="header__line")
						| пневмооборудование
		div(class="container-fluid excavator")
			div(class="row pb-4")
				div(class="col-12 col-lg-4 offset-lg-1 pb-4")
					p(class="pb-4")
						| Осуществляем продажу подшипников из наличия, со склада в г. Челябинск и под заказ.
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1 pb-5")
					div(class="row pb-5")
						div(class="col-lg-5 pb-5")
							div(class="slider-for")
								div()
									div()
										a(data-fancybox="gallery" href="images/2www.png")
											img(class="lazyload w-100" data-src="images/2www.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/scd.png")
											img(class="lazyload w-100" data-src="images/scd.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/csdcsdc.png")
											img(class="lazyload w-100" data-src="images/csdcsdc.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/asda.png")
											img(class="lazyload w-100" data-src="images/asda.png" alt="img")
							div(class="slider-nav py-3")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/2www.png" alt="img")
								div()
									div(class="d-flex justify-content-center")
										img(class="lazyload img-fluid" data-src="images/scd.png" alt="img")
								div()
									div(class="d-flex justify-content-center")
										img(class="lazyload img-fluid" data-src="images/csdcsdc.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/asda.png" alt="img")
						div(class="col-lg-7 pb-5 tab-pane_content")
							h2()
								| Пневмооборудование
							p
								| Готовы поставить в адрес Вашего предприятия пневмооборудование различного назначения:

							ul
								li
									| Пневмораспределители (с пневматическим, электропневматическим, механическим и мускульным и электромагнитным управлениями)
								li
									| Пневмоцилиндры (как общепромышленные, так и специализированные для экскаваторов и другой спец. технике)

								li
									| Компрессоры и запчасти к ним (ЭК-7В, ВВ, ВГ и другие)
								li
									| Фильтры очистки воздуха, для спец. техники
								li
									| Электромагнитные клапаны
							button(class="btn btn_two_full mt-5" data-toggle="modal" data-target="#modalCall")
								| Оставить заявку
		div(class="line_r line_r_two")
			div(class="container-fluid p-0")
				div(class="row justify-content-between")
					div(class="col-lg-3 p-0")

