/* INCLUD SASS */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "library/_animate.css";
@import "library/jquery-ui.css";
@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";

@import "reset/_reset";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";



.content__wrapper {
  background: #CFE0F0;
}
// first page
.welcome {
  height: calc(100vh + 150px);
  padding-bottom: 150px;
  background: url("../images/welcome.png") no-repeat;
  background-size: cover;
  background-position: center center;
  &.welcome_first {
  	background: unset;
  }
  &.welcome_second {
  	background: unset;
  	height: unset;
  	padding: 0px;
  	background-color: #F1F5F9;
  	.flooger {
  		margin-top: -140px;
  	}
  	.slick-next {
  		right: 100px;
  	}
  	.slick-prev {
  		left: 100px;
  		z-index: 10;
  	}
  	.slick-slide {
  		overflow: hidden;
  	}
  	@media (max-width: 700px) {
  		.slick__firstSite {
	  		img {
	  			display: block;
	  			width: 100%;
	  		}
	  		picture {

	  			width: 100%;
	  			display: block;
	  		}
	  	}
	  	.slick-slide {
	  		overflow: hidden;
	  	}
  	}
  }
  span {
	font-family: "Bicubik";
	font-size: 2rem;
	line-height: 150%;
	color: #FFFFFF;
  }
  h1 {
		font-family: "Furore";
		font-size: 6.4rem;
		line-height: 130%;
		color: #FFFFFF;
  }
}


.flooger {
	.flooger__cotent {
		font-family: "Roboto";
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 130%;
		text-align: center;
		color: #FFFFFF;
		display: block;
		padding-bottom: 8px;
	}
	.flooger__circle {
		border: 2px solid #fff;
		width: 40px;
		height: 80px;
		padding: 8px;
		position: relative;
		border-radius: 25px;
		span {
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background-color: #fff;
			display: block;
			position: absolute;
			top: 8px;
			left: 8px;
			animation: bounce  2.5s infinite ease-in-out;
		}
	}

}


@keyframes bounce {
	0% {
		top: 8px;
	}
	50% {
		top: calc(100% - 28px);
	}
	100% {
		top: 8px;
	}
}

.sites {
	.sites__link {
		cursor: pointer;
		.sites__img {
			padding: 10px;
			transition: all 0.5s;
			border-radius: 15px;
		}
		&:hover {
			.sites__img {
				background-color: #003C74;
				transition: all 0.5s;
			}
		}
		.sites__header {
			text-transform: uppercase;
			font-family: "Furore";
			font-size: 2rem;
			line-height: 135%;
			text-align: center;
			color: #003C74;
			display: block;
		}
		.sites__line {
			background: #0082FA;
			margin: 16px 40px;
			height: 10px;
		}
		.sites__description {
			text-transform: uppercase;
			padding-top: 12px;
			font-family: "Bicubik";
			font-size: 2rem;
			display: block;
			line-height: 135%;
			text-align: center;
			color: #003C74;
		}
	}
}


.about {
	padding-top: 80px;
	padding-bottom: 60px;
}

.block__line {
	background-color: #003C74;
	span {
		font-family: "Formular";
		font-size: 2.2rem;
		line-height: 27px;
		text-align: center;
		display: block;
		padding: 20px 0 0 0;
		color: #FFFFFF;	
	}
	img {
		display: block;
	}
}



.defense {
	padding: 60px 0;
	span {
		font-family: "Formular";
		font-size: 1.8rem;
		line-height: 22px;
		text-align: center;
		color: #003C74;
		display: block;
		padding-top: 10px;
	}
}


.delivery {
	padding: 20px 0px;
	p {
		font-size: 1.8rem;
	}
	@media (max-width: 991px) {
		img {
			display: block;
			margin: 0px!important; 
		}
	}
}

.slick-dots {
	list-style: none;
	li {
		width: 12px;
		height: 12px;
		background: #fff;
		border-radius: 100%;
		margin: 0 6px;
		&.slick-active {
			background-color: $mainColorOne;
		}
		button {
			&:before {
				content: unset;
			}
		}
	}
}

.partners {
	padding: 60px 0;
}



.line_r {
	padding: 60px 0px 0px  0px;
	.col-lg-3 {
		border: 1px solid $mainColorOne;
		box-shadow: 0px 0px 4px $mainColorOne;
	}
	&.line_r_two {
		.col-lg-3 {
			border: 1px solid $mainColorTwo;
		}
	}
}
.content_first {
	background-color: #111A22;
	background-position: center bottom;
	background-size: 100%;
}
.catalog {
	background: url("../images/bg1.png") no-repeat;
	background-size: 100%;
	background-position: center center;
	padding: 60px 0px;
	.catalog__header {
		display: block;
		padding-top: 20px;
		font-family: "Bicubik";
		font-size: 1.8rem;
		line-height: 130%;
		text-align: center;
		color: #0082FA;	
	}
	.catalog__item {
		border: 1.5px solid $mainColorOne;
		box-sizing: border-box;
		box-shadow: inset 0px 0px 15px rgba(0, 133, 255, 0.4);
		padding: 42px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.5s;
		height: 100%;
		&:hover {
			background: #fff;
			transition: all 0.5s;
		}
	}
	span {
		font-family: "Bicubik";
		display: block;
		font-size: 3.6rem;
		line-height: 46px;
		color: #FFFFFF;
		padding-bottom: 20px;
	}
	p {
		font-family: "Formular";
		font-size: 1.6rem;
		line-height: 150%;
		color: #FFFFFF;
		display: inline-block;
		span {
			font-family: "Formular";
			font-size: 2.4rem;
			padding: 0;
			display: inline-block;
			line-height: 150%;
			color: #FFFFFF;
		}
	}
}


.slick__firstSite {
	padding-top: 150px;
	.slick-next:before, .slick-prev:before {
		font-size: 4rem;
		opacity: 1;
	}
	.slick-prev {
		left: -200px;
		@media (max-width: 1300px) {
			left: -30px;
		}
	}
	.slick-next {
		right: -200px;
		@media (max-width: 1300px) {
			right: -30px;
		}
	}
	@media (max-width: 991px) {
		padding: 0px;
	}
}


.footer__description_w {
	
	border: 1.5px solid $mainColorOne;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 15px rgba(0, 133, 255, 0.4);
	padding: 38px 60px;
	position: relative;
	@media (max-width: 991px) {
		padding: 6px 10px;
	}
	.footer__description_w_color {
		position: relative;
		position: absolute;
		top: 0px; right: 0px; bottom: 0px; left: 0px;
		background-color: rgba(17, 26, 34, 0.7);
		z-index: 0;
	}
	.footer__description_w_bg {
		background: url("../images/dfghdfghdfgh.png") no-repeat ;
		background-position: center center;
		position: absolute;
		top: 0px; right: 0px; bottom: 0px; left: 0px;
		z-index: 0;
	}
}
.welcome_first_wra {
	@media (max-width: 991px) {
		display: flex;
		flex-direction: column;
		justify-content: center!important;
	}
}

.content_first_p {
	padding-top: 180px;
	h1 {
		font-family: "Bicubik";
		font-size: 2.8rem;
		line-height: 170%;
		color: #FFFFFF;
		 @media (max-width: 991px) {
		 	font-size: 2.2rem!important;
		 }
	}
	img {
		margin-top: -20px;
	}
}
.nav_blue {
	padding: 60px 0px;
	border: 0px;
	.nav-item {
		padding-right: 25px;
	}
	.nav-link {
		font-family: "Roboto";
		font-size: 1.8rem;
		line-height: 21px;
		/* identical to box height */
		padding: 15px 65px;
		text-align: center;
		border: 1.5px solid $mainColorOne;
		color: #FFFFFF;
		transition: all 0.5s;
		&.active {
			background-color: $mainColorOne;
			border: 1.5px solid $mainColorOne;
			color: #000;
			transition: all 0.5s;
		}
	}
}



.excavator {

	
	h2 {
		font-family: "Roboto";
		font-weight: bold;
		font-size: 3.6rem;
		line-height: 42px;
		padding-bottom: 24px;
		color: #FFFFFF;
		text-align: left;
	}
	p {
		font-size: 1.8rem;
		color: #fff;
		line-height: 150%;
	}
	.tab-pane {
		.tab-pane_content {
			ul {
				padding-left: 10px;
				li {
					font-family: "Roboto";
					font-size: 1.8rem;
					line-height: 150%;
					color: #FFFFFF;
					position: relative;
					list-style: none;
					&:before {
						
						content: "-";
						display: block;
						position: absolute;
						left: -10px;
						top: 0px;
					}
				}
			}
		}
	}
}

.excavator__item {
	position: relative;
	display: inline-block;
	.excavator__first {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		border-radius: 0px 0px 100% 100%;
		z-index: 10;
		background: url("../images/fgfg.png") no-repeat;
		background-size: 100%;
		min-height: 90px;
		padding: 10px 7px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.excavator__header {
		font-family: "Furore";
		font-size: 1.8rem;
		line-height: 23px;
		/* identical to box height */
		padding-bottom: 6px;
		display: block;
		text-align: center;
		text-transform: uppercase;

		color: #111A22;
	}
	.excavator__type {
		font-family: "Roboto";
		font-size: 1.4rem;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;

		color: #25272B;
	}
	.excavator__last {
		position: absolute;
		left: 0px; right: 0px;
		bottom: 0px;
		z-index: 10;
		background: url("../images/ggfhjhj.png") no-repeat;
		min-height: 97px;

		display: flex;
		align-items: flex-end;
	}
	.excavator__price {
		font-family: "Roboto";
		font-weight: 500;
		font-size: 3.6rem;
		line-height: 42px;
		padding-left: 16px;
		padding-bottom: 12px;
		color: #FFFFFF;
	}
}
.excavator_wrap {
	padding: 80px 0px;
	.slick-slide.slick-active > div > div{
		display: flex!important;
		justify-content: center;
	}
	.slick-slide > div {
		padding: 0px 15px;
		
		
		&:first-child {
			padding-right: 15px;
			padding-left: 0px;
		}
		&:last-child {
			padding-right: 0px;
			padding-left: 15px;
		}
	}
}

.excavator__h_top {
	display: block;
	padding-bottom: 24px;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 28px;
	padding-top: 60px;
	color: #FFFFFF;
}
.excavator_no_p {
	.nav_blue {
		padding: 0px;
	}
	.tab-content {
		.tab-content {
			padding-top: 80px;
		}
	}
}
.items__two {
	background-color: #F1F5F9;
	padding: 60px 0px;
}
.items__two_header {
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 60px 0px;
	text-align: center;

	font-family: "Bicubik";
	font-size: 1.8rem;
	line-height: 130%;
	color: #25272B;
}
.items__two_i {
	display: block;
	position: relative;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	img {
		width: 100%;
		display: block;

	}
	.items__two__line {
		position: absolute;
		bottom: 0px;
		left: calc(50% - 50px);
		width: 100px;
		height: 10px;
		transition:  all 0.5s;
		background-color: $mainColorTwo;
	}
	&:hover {
		.items__two__line {
			width: 100%;
			transition: all 0.5s;
			left: 0px;
		}
	}
}
.content_second {
	background-color: #32353B;
	.about {
		span {
			font-family: "Bicubik";
			font-size: 3.6rem;
			line-height: 46px;
			color: $mainColorTwo;
			display: block;
			padding-bottom: 40px;
		}
		p {
			color: #fff;
		}
	}
	
}
.footer_second {
	.footer__link, .footer__adres   {
		color: #25272B;
	}
}

.content_second {
	.excavator {
		.tab-pane_content {
			ul {
				list-style: none;
				padding-left: 20px;
				li {
					position: relative;
					font-family: "Roboto";
					font-size: 1.8rem;
					line-height: 150%;
					color: #FFFFFF;
					padding-bottom: 20px;
					&:after {
						position: absolute;
						left: -14px;
						top: 7px;
						width: 10px;
						height: 10px;
						border-radius: 100%;
						background-color: $mainColorTwo;
						display: block;
						content: "";
					}
				}
			}
		}
		.nav-link {
			border: 1px solid $mainColorTwo;
			color: #fff;
			&.active {
				background: $mainColorTwo;
				color: #fff;
			}
		}
	}
}


.excavator {
	.slider-for {
		.slick-track {
			background-color: #fff;
			display: flex;
			align-items: center;
			img {
				display: block;
			}
		}
		.slick-slide {
			

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.slider-nav {
		.slick-slide {

			padding: 0px 10px;
		}
		.slick-slide > div {
			max-width: 123px;
			height: 88px;
			background-color: #fff;

			display: flex;
				justify-content: center;
				align-items: center;
			&.slick-active {
				
			}
		}
		img {
			width: 100%;
		}
	}
}
.header {
	&.header_three {
		.logo {
			span {
				color: #fff;
			}
		}
		a {
			&.active {
			    border-bottom: 4px solid $mainColorThree;
			}
		}
	}
}

.content_third {
	background-color: #4C4B60;
	@media (max-width: 991px) {
		.welcome_second {
			img {
				width: 100%;
			}
		}
	}
	.header__line {
		&:after {
			background-color: $mainColorThree;
		}
	}

	.nav_blue .nav-link {
		border: 1px solid $mainColorThree;
		&.active {
			background: $mainColorThree;
		}
	}
	.welcome {	
		background: url("../images/bg3.png") no-repeat;
		height: 100vh;
		padding-bottom: 50px;
		h1 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 150%;
			/* or 36px */


			color: $mainColorThree;
		}
		p {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 150%;
			color: #FFFFFF;
		}
		.flooger {
			margin: 0px;
		}
		@media (max-width: 991px) {
			height: unset;
			padding-top: 60px;
		}
	}
	.items__two_i {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding-top: 20px;
		img {
			max-width: 100%;
			width: unset;
		}
		.items__two_header {
			padding: 40px 0px;
			
		}
		.items__two__line {
			width: 0px;
			left: 50%;
		}
		&:hover {
			.items__two__line {
				left: calc(50% - 100px);
				width: 200px;
			}
		}
	}
	.items__two__line {
		background-color: $mainColorThree;
		bottom: 20px;
		width: 0px;
	}
	.items__two {
		.col-lg-4 {
			max-width: 580px;
		}
		.col-lg-3 {
			max-width: 428px;
		}
	}
	h2 {
		color: $mainColorThree;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 800;
		font-size: 4.8rem;
		line-height: 59px;
	}
	.items__two {
		padding: 0px;
	}
	.p_b_60 {
		padding-bottom: 60px;
	}
	.about {
		p {
			font-family: "Montserrat";
			font-size: 1.8rem;
			line-height: 150%;
			color: #FFFFFF;
			&.color_three {
				color: $mainColorThree;
			}
		}
	}
	.custom {
		padding-left: 20px;
		list-style: none;
		li {
			position:relative;
			font-family: "Montserrat";
			font-size: 1.8rem;
			line-height: 150%;
			color: #FFFFFF;
			&:after {
				position: absolute;
				top: 8px;
				left: -14px;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: $mainColorThree;
				content: "";
				display: block;
			}
		}
	}
	table {
		width: 100%;
	}
	.massa__wrap {
		max-width: 428px;
		padding-bottom: 4rem;
	}
}
.p_t_60 {
	padding-top: 60px;
}
.p_b_60 {
	padding-bottom: 60px;
}
.color_three {
	color: $mainColorThree;
}
.massa {
	background-color: #fff;
	padding: 60px 0px;
}
.massa__item {
	tr {
		td:first-child {
			width: 70%;
			border: 1px solid #68697D;
			border-width: 1px 1px 2px 2px;
		}
		td:last-child {
			width: 30%;
			border: 1px solid #68697D;
			border-width: 1px 2px 2px 2px;
		}
	}
	td {
		padding: 14px 0px;
		font-family: "Montserrat";
		font-size: 1.8rem;
		line-height: 130%;
		text-align: center;
		color: #000000;
		
	}
}
table {
	border-collapse: separate;
	thead {
		overflow: hidden;
		border-radius: 15px 15px 0px 0px;
		border: 1px solid #4C4B60;
		
		td {

		}
	}
}
.table__header {
	background: #4C4B60;
	border-radius: 15px 15px 0px 0px;
	td {
		border: 0px;
		border-radius: 15px 15px 0px 0px;
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
		padding: 23px 0px;
		height: 100px;
		vertical-align: middle;
	}
}

.massa__wrap_c {
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.three {
	.footer {
		background-color: #D2DFEA;
		.footer__description_w {
			padding: 0px;
			border: 0px;
			box-shadow: unset;
		}
		.footer__header {
			font-family: "Bicubik";
			font-size: 3.6rem;
			line-height: 46px;
			color: $mainColorThree;
		}
	}
}