.header {
	position: fixed;
	z-index: 200;
	left: 0px; top: 0px; right: 0px;
	padding: 10px 50px;
	@media (max-width: 991px) {
		padding: 16px 30px 16px 30px;
	}
	&.scroll {
		background-color: #111A22;
	}
	nav {
		ul {
			list-style: none;
			a {
					font-family: "Roboto";
					font-size: 1.8rem;
					line-height: 21px;
					text-transform: capitalize;
					margin: 0px 5px;
					color: #FFFFFF;
					@media (max-width: 1500px) {
						font-size: 1.4rem;
					}
				&.active {
					border-bottom: 4px solid $mainColorOne;
				}
				&:hpver {

					color: #FFFFFF;
				}
			}
		}
	}
	&.header_two {
		a {
			&.active {
				border-bottom: 4px solid $mainColorTwo;
			}
		}
		.logo {
			color: #fff;
		}
	}
}
.navigation__content {
	overflow: hidden;
	position: fixed;
	left: 120%; right: 0px;
	bottom: 0px;
	transition: all 0.5s;
	z-index: 200;
		background-color: #111A22;
	&.active {
		left: 0px;
		
		
		transition: all 0.5s;
	}
	a {
		display: block;
		font-size: 1.6rem;
		color: #fff;
		text-align: center;
		padding: 5px 0px;
	}
}
.phone {
	font-size: 2.4rem;
	color: #fff;
	font-weight: bold;
	margin-right: 50px;
	display: block;
	&:hover {
		color: #fff;
	}
	@media (max-width: 991px) {
		font-size: 1.8rem
	}
	@media (max-width: 1500px) {
		font-size: 1.4rem;
	}
}
.logo {
	font-family: "Bicubik";
	font-size: 2.4rem;
	line-height: 145%;
	color: $mainColorOne;
	&:hover {
		color: $mainColorOne;
	}
	@media (max-width: 991px) {
		width: 40px;
		img {
			width: 100%;
		}
	}
	@media (max-width: 1500px) {
		font-size: 1.8rem;
	}
}



.navigation__wrap {
	ul {
		list-style: none;
	}
}



// burger
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transform: scale(1.5);
}
.hamRotate.active {
	transform: rotate(45deg) scale(1.5);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 5.5;
	stroke-linecap:round;
}
.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}
.btn__menu {
background: none;
border: none;
min-width: 40px;
min-height: 40px;
padding: 0;
cursor: pointer;
	&:focus {
		outline: none;
	}
}